.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
  flex-flow: row wrap;

  /* Then we define how to distribute the remaining space */
  justify-content: space-around;

  /* padding: 0; */
  /* margin: 0; */
  /* list-style: none; */
}

.flex-item {
  margin: var(--std_margin);
  border: var(--card_border_style);
  box-shadow: var(--card_shadow);
  width: 400px;
  height: 300px;
}

.card-container {
  display: inline-block;
}

.left {
  background: var(--card_bg_color);
  display: table-cell;
  vertical-align: top;
  width: 200px;
  height: 280px;
  padding: 10px;
}
.right {
  background: url('../images/my_dog.jpg');
  display: table-cell;
  width: 200px;
  height: 300px;
  /* width: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}
