/* Main page layout */
@media (max-width: 600px) {
  .grid-container {
    display: grid;
    width: 95vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "about"
      "posts"
      "archive"
      "footer";
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .grid-container {
    display: grid;
    width: 95vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      "posts posts posts about"
      "posts posts posts archive"
      "footer footer footer footer";
  }
}

@media (min-width: 1001px) {
  .grid-container {
    display: grid;
    width: 95vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header header header"
      "posts posts posts posts posts about"
      "posts posts posts posts posts archive"
      "footer footer footer footer footer footer";
  }
}

#header {
  grid-area: header;
  border-bottom: var(--main_border_style);
}

#posts {
  grid-area: posts;
}

#archive {
  grid-area: archive;
}

#about {
  grid-area: about;
  border: var(--about_border_style);
  box-shadow: var(--about_shadow);
  background-color: var(--about_bg_color);
  padding: 15px;
  margin: var(--std_margin);
}

#footer {
  grid-area: footer;
  padding-top: 25px;
  border-top: var(--main_border_style);
}
