
@media (max-width: 600px) {
  .grid-container {
    display: grid;
    width: 95vw;
    height: auto;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "about"
      "posts"
      "old-posts"
      "footer";

    margin: auto;
    justify-content: center;
    grid-gap: 5px;

    border: 2px solid rgb(255, 217, 0);
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .grid-container {
    display: grid;
    width: 95vw;
    height: auto;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      "posts posts posts about"
      "posts posts posts old-posts"
      "footer footer footer footer";

    margin: auto;
    justify-content: center;
    grid-gap: 5px;

    border: 2px solid rgb(255, 217, 0);
  }
}

@media (min-width: 1001px) {
  .grid-container {
    display: grid;
    width: 95vw;
    height: auto;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header header header"
      "posts posts posts posts posts about"
      "posts posts posts posts posts old-posts"
      "footer footer footer footer footer footer";

    margin: auto;
    justify-content: center;
    grid-gap: 5px;
    /*
    border: 2px solid rgb(255, 217, 0);
    */
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: left;
  border: 1px solid rgba(55, 55, 55, 0.17);
  box-shadow: rgba(0, 0, 0, 0.09) 5px 5px 2px;
  border-radius: 25px;
  padding: 25px;
  margin: 5px;
}

#header {
  grid-area: header;
  font-style: italic;
  font-size: 2em;
}

#footer {
  grid-area: footer;
}

#posts {
  grid-area: posts;
}

#old-posts {
  grid-area: old-posts;
}

#about {
  grid-area: about;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
