/* Main page layout */
@media (max-width: 600px) {
  .grid-container {
    display: grid;
    width: 100vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navbar social"
      "header header"
      "posts posts"
      "footer footer";
  }
}

@media (min-width: 601px) and (max-width: 1300px) {
  .grid-container {
    display: grid;
    width: 100vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "navbar navbar navbar social"
      "header header header header"
      "posts posts posts posts"
      "posts posts posts posts"
      "footer footer footer footer";
  }
}

@media (min-width: 1301px) {
  .grid-container {
    display: grid;
    width: 100vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "navbar navbar navbar navbar navbar social"
      "header header header header header header"
      "posts posts posts posts posts posts"
      "posts posts posts posts posts posts"
      "footer footer footer footer footer footer";
  }
}

.posts {
  grid-area: posts;
}

.social {
  grid-area: social;
}

/* #archive {
  grid-area: archive;
} */

/* #about {
  grid-area: about;
  border: var(--about_border_style);
  box-shadow: var(--about_shadow);
  background-color: var(--about_bg_color);
  padding: 15px;
  margin: var(--std_margin);
} */
