/* post layout - screen size agnostic*/
  .post-container {
    display: grid;
    width: 95vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "navbar navbar"
      "post post"
      "prev next"
      "footer footer";
  }



.post {
  grid-area: post;
  padding: var(--std_padding);
  margin: var(--std_margin);
  border: var(--debug_border);
}

.prev {
  /* padding: var(--std_padding); */
  margin-left: var(--std_margin);
  border: var(--debug_border);
}

.next {
  /* padding: var(--std_padding); */
  margin-right: var(--std_margin);
  margin-left: auto;

  border: var(--debug_border);
}
