/* post layout - screen size agnostic*/
  .post-container {
    display: grid;
    width: 95vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "about"
      "posts"
      "archive"
      "footer";
  }


#header {
  grid-area: header;
  border-bottom: 1px solid black;
}

#footer {
  grid-area: footer;
  padding-top: 25px;
  border-top: 1px solid black;
}

#post {
  grid-area: posts;
}
