/* post layout */
@media (max-width: 600px) {
  .post-container {
    display: grid;
    width: 100vw;
    height: auto;
    margin: auto;
    grid-gap: 15px;

    grid-template-columns: 0.05fr 0.95fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navbar navbar"
      "header header"
      "social post"
      "prev next"
      "about about"
      "footer footer";
  }
}

@media (min-width: 601px) and (max-width: 1300px) {
  .post-container {
    display: grid;
    width: 100vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: 0.05fr 0.8fr 0.15fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navbar navbar navbar"
      "header header header"
      "social post about"
      "prev prev next"
      "footer footer footer";
  }
}

@media (min-width: 1301px) {
  .post-container {
    display: grid;
    width: 100vw;
    height: auto;
    margin: auto;
    justify-content: center;
    grid-gap: 15px;

    grid-template-columns: 0.025fr 0.85fr 0.125fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navbar navbar navbar"
      "header header header"
      "social post about"
      "prev prev  next"
      "footer footer  footer";
  }
}
/*
.post-container {
  display: grid;
  width: 95vw;
  height: auto;
  margin: auto;
  justify-content: center;
  grid-gap: 15px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "navbar navbar"
    "post post"
    "prev next"
    "footer footer";
} */

.post {
  grid-area: post;
  padding: var(--std_padding);
  margin: var(--std_margin);
  border: var(--debug_border);
}

.prev {
  grid-area: prev;
  margin-left: var(--std_margin);
  border: var(--debug_border);
}

.next {
  grid-area: next;
  margin-right: var(--std_margin);
  margin-left: auto;
  border: var(--debug_border);
}

.social {
  grid-area: social;
}

.about {
  grid-area: about;
  margin-left: var(--std_margin);
}
