:root{
    --bg_color:  rgb(240, 240, 240);

    --main_bg_color: var(--bg_color);
    --main_border_style: 1px solid black;

    --card_bg_color: var(--bg_color);
    --card_border_style: 1px solid rgb(0 0 0 / 0.1);
    --card_shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    --card_shadow_hover: 0 3px 10px rgb(0 0 0 / 0.5);

    --about_bg_color: var(--bg_color);
    --about_border_style: 1px solid rgb(0 0 0 / 0.2);
    --about_shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    --navbar_bg_color: var(--bg_color);
    --navbar_font_color: darkgrey;
    --navbar_font_color_hover: black;

    --footer_font_color: darkgrey;


    --std_margin: 15px;
    --std_padding: 10px;

    /* --debug_border: 1px solid black; */
}
