:root {
  /* palette */
  --first-color: #f8f8ff;
  --second-color: #7575FF;
  --third-color: #d7f3ef;
  --fourth-color: #e7ebeb;


  --header_bg_color:var(--first-color);
  --footer_bg_color: var(--first-color);
  --body_bg_color: var(--first-color);
  --navbar_bg_color: var(--second-color);
  --card_bg_color: var(--fourth-color);
  --post_bg_color: var(--first-color);
  --social_bg_color: var(--first-color);
  --about_bg_color: var(--third_color);

  --navbar-fontsize: 1.1em;

  --card_border_style: 1px solid rgb(0 0 0 / 0.1);
  --card_shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  --card_shadow_hover: 0 3px 10px rgb(0 0 0 / 0.5);

  --about_border_style: 1px solid rgb(0 0 0 / 0.2);
  --about_shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  --header-font-color: #2d2df7;
  --card_date_font_color: #4b4a4a;
  --navbar_font_color: #fefefe;
  --navbar_font_color_hover: #000;
  --footer_font_color: #4b4a4a;

  --std_margin: 10px;
  --std_padding: 5px;

  /* --debug_border: 1px solid black; */
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--body_bg_color);
}

h1 {
  font-size: 3em;
  font-style: italic;
  font-weight: bolder;
  padding: var(--std_padding);
  margin: var(--std_margin);
}

h2.card-header {
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
}

h2.post-header {
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
}

h3.post-paragraph-header {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

p.date {
  color: var(--card_date_font_color);
  font-style: italic;
  font-weight: lighter;
}

p.post-text {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
}
